2012-2013/ASP.NET Final/Final/TrackrClient/App_WebReferences/TrackrServices/TrackrService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54322/TrackrHost/TrackrService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrackrServiceLibrary" />
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrackrServiceLibrary" minOccurs="0" name="GetProjectsResult" nillable="true" type="q1:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrackrServiceLibrary" minOccurs="0" name="GetProjectTasksResult" nillable="true" type="q2:ArrayOfTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taskDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateClosed" type="xs:dateTime" />
        <xs:element minOccurs="0" name="original_projectID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTaskResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
        <xs:element minOccurs="0" name="TaskTitle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TaskDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DateOpened" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>