2012-2013/ASP.NET Final/Final/TrackrClient/App_WebReferences/TrackrServices/TrackrService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrackrServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrackrServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="ArrayOfTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task" nillable="true" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask" nillable="true" type="tns:ArrayOfTask" />
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateClosed" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateOpened" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
      <xs:element minOccurs="0" name="TaskDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskID" type="xs:int" />
      <xs:element minOccurs="0" name="TaskTitle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task" nillable="true" type="tns:Task" />
</xs:schema>